            * {
                margin: 0px;
                margin-left: 0;
                padding: 0px;
                width: 970;
                margin-top: 0px;
                padding: 0, 15, 0, 15;
                /* outline: 2 px solid orange; */
            }
            
            #topimage {
                background-image: url("logo.png");
                background-repeat: no-repeat;
                height: 67px;
                width: 600px;
                background-color: #1A1A1A;
                vertical-align: top;
                display: inline-block;
            }
            
            #header {
                display: inline-block;
                background-color: #1A1A1A;
                margin-left: 0;
            }
            
            #call {
                display: inline-block;
                vertical-align: top;
                width: 222px;
                height: 28px;
                background-color: #1A1A1A;
                color: white;
                padding: 20px;
                padding-right: 20px;
                position: inherit;
            }
            
            #container {
                background-color: #1A1A1A;
                width: 866px;
                height: auto;
            }
            
            #navbar {
                background-color: #3C3C3C;
            }
            
            .go {
                display: inline-block;
                margin-left: 20px;
            }
            
            #bar {
                color: #A09A8A;
            }
            
            #mainpic {
                background-image: url("main_pic.png");
                width: 860;
                height: 356px;
                background-repeat: no-repeat;
            }
            
            #content {
                background-color: #1A1A1A;
                color: white;
                height: 100px;
                padding: 10px;
            }
            
            #spot1,
            #spot2,
            #spot3,
            #spot4 {
                display: inline-block;
            }
            
            .spot5 {
                display: inline-block;
                margin-left: 7px
            }
            
            #spot2,
            #spot3,
            #spot4 {
                margin-left: 40px;
            }
            
            .conthead {
                color: orange;
            }
            
            #banner {
                background-color: #090909;
                color: white;
                height: 80px;
            }
            
            #insidebanner {
                display: inline-block;
                margin-top: 20px
            }
            
            #button {
                display: inline-block;
                margin-left: 300px;
            }
            
            #porthead {
                background-color: #1A1A1A;
            }
            
            .right {
                display: inline-block;
                color: white;
            }
            
            #view {
                display: inline-block;
                margin-left: 600px;
                width: 500px;
                margin-bottom: 30px;
            }
            
            #insideshort {
                display: inline-block;
                width: 20%;
                height: auto;
                vertical-align: top;
                margin-left: 20px;
            }
            
            #shortpreview {
                background-image: url("portfolio1.png");
                background-size: 100%;
                background-repeat: no-repeat;
                height: 120px;
            }
            
            #insidebuild {
                display: inline-block;
                width: 20%;
                height: auto;
                vertical-align: top;
                margin-left: 10px;
            }
            
            #buildpreview {
                background-image: url("portfolio2.png");
                background-size: 100%;
                background-repeat: no-repeat;
                height: 120px;
            }
            
            #insideaccess {
                display: inline-block;
                width: 20%;
                height: auto;
                vertical-align: top;
                margin-left: 10px;
            }
            
            #accesspreview {
                background-image: url("portfolio3.png");
                background-size: 100%;
                background-repeat: no-repeat;
                height: 120px;
            }
            
            #insidecustom {
                display: inline-block;
                width: 20%;
                height: auto;
                vertical-align: top;
                margin-left: 15px;
            }
            
            #custompreview {
                background-image: url("portfolio4.png");
                background-size: 101%;
                background-repeat: no-repeat;
                height: 121px;
                margin-left: 10px;
            }
            
            #portfolio {
                color: white;
            }
            
            .lasthead {
                margin-bottom: 10px;
                font-size: medium;
            }
            
            a {
                color: orange;
            }
            
            #bttm {
                margin-top: 40px;
                margin-left: 720px;
            }